<div class="grid" id="cookie-notice">
    <h4>Diese Website verwendet Cookies</h4>
    <p class="">Um dir ein optimales Erlebnis zu bieten, verwenden wir Technologien wie Cookies, um Geräteinformationen zu speichern und/oder darauf zuzugreifen. Wenn du diesen Technologien zustimmst, können wir Daten wie das Surfverhalten auf dieser Website verarbeiten. Wenn du deine Zustimmung nicht erteilst oder zurückziehst, können bestimmte Merkmale und Funktionen beeinträchtigt werden.</p>
    
    <div class="center">
      <a id="cookie-notice-accept" class="button"> Akzeptieren</a>
      <a id="close-cookie-banner" class="button"> Ablehnen</a>  
    </div>

    <div class="privacy center">
      <a href="/policies/cookies" id="cookie-banner-datenschutz">Cookie Richtlinie</a> | 
      <a href="/policies/datenschutz" id="cookie-banner-datenschutz">Datenschutz</a>
    </div>

  </div>
  
  <div class="reshow-button">
    <i class="fa-solid fa-angle-up"></i>
  </div>
